<title>Home Page | Link Aggregator</title>

<h1>Welcome to Link Aggregator.</h1>

<h2>Example Use Cases:</h2>
<dl>

  <dt>Private Bookmarks</dt>
  <dd>Store links, that you don't want to store on your browser, here. ^_^</dd>

  <dt>Password's Hints</dt>
  <dd>Store hints for your passwords here.
  (I don't recommend storing your real password anywhere other than your head)
  For example: if your real password is "YE181196,"
  you can store this in the link's description as
  "password: [name-initial-capitalized][birthdate-dd/mm/yy]"</dd>

</dl>

<%= link_to 'View Saved Links', controller: 'entries' %>
